<div class="sidenav">
  <%= link_to reports_path, class: "navbar-brand" do %>
    <%= image_tag "logo-white.png" %>
  <% end %>
  <div class="user">
    <%= current_user.email %>
  </div>

 <div class="nav-links">
    <p><%= link_to "Dashboard", '#' %></p>
    <p><%= link_to "Treasury",  '#' %></p>
    <p><%= link_to "Sales",  '#' %></p>
    <p><%= link_to "Exoenditures",  '#' %></p>
  </div>
</div>