<div class="sidenav">
  <%= link_to reports_path, class: "navbar-brand" do %>
    <%= image_tag "logo-white.png" %>
  <% end %> 
  <div class="user">
    <%= current_user.email %>
  </div>

 <div class="nav-links">
    <p><%= link_to "Dashboard", reports_path%></p>
    <p><%= link_to "Treasury",  report_treasury_path(@report) %></p>
    <p><%= link_to "Sales",  report_sales_path(@report) %></p>
    <p><%= link_to "Expenditures", report_expenditures_path(@report)%></p>
  </div>
</div>