<%= render 'shared/side-nav' %>

<div class="main-tabs ml200">
  <div class="row"> 

    <div class="col-lg">
      <div class="tab-title">
        <h4> <strong class="highlight">Expenditures</strong></h1>
      </div>
    </div>

    <div class="col-lg">
       <div class="tabs">
         <div class="tab active">
           <a href="<%= report_expenditures_path %>">Highlights</a>
         </div>
         <div class="tab ">
           <a href="<%= report_expenditures_advice_path %>">Advice</a>
         </div>
         <div class="tab">
           <a href="<%= report_expenditures_comments_path %>">Notes</a>
         </div>
         <div class="tab ">
           <a href="<%= report_expenditures_transactions_path %>">All transactions</a>
         </div>
       </div>
    </div>
  </div>
</div>

<div class="container ml200">

  <div class="row d-flex justify-content-center mb-5 mt-5">
     <h4>Your total expenditures for the period are <strong class="highlight">€ <%= number_with_delimiter(@total_expenditures, :delimiter => ',') %></strong></h4>
  </div>

  <div class="col-lg-12 card-dash row justify-content-center">
    <h3 style= color:#1E0087>Monthly Expenditures</h3>
    <br>
    <%= column_chart Line.annual_expenditures %>
  </div>

<br>
<br>

 <div class="row d-flex justify-content-between">
<div class="col-lg-6 card-dash row justify-content-center">
  <h3 style= color:#1E0087>Expenditures per category</h3>
  <br>
    <%= pie_chart Line.top_expenditures_subcategory, legend: "right" %>
</div>


<div class="col-lg-5 card-dash">
      <table class="table">
        <h3 style= color:#1E0087>Top expenditure items this year</h3>
         <thead>
           <tr>
            <th scope="col">Expenditure</th>
            <th scope="col">Date</th>
            <th scope="col">Amount</th>
           </tr>
         </thead>
         <tbody>
          <% @top5_expenditures.each do |line| %>
            <tr>
              <th scope="row"><%= line.ecriture_lib %></th>
              <td><%= line.ecriture_date%></td>
              <td><%= line.debit%>€</td>
            </tr>
          <% end %>
         </tbody>
      </table>
      <p class = "row justify-content-center"><%= link_to "Show more", report_expenditures_transactions_path(@report), class: "tab-underlined" %></p>

    </div>
    </div>

<!--     <div class="row justify-content-center">
    <ul class="list-inline tabs-underlined">
      <li>
        <%= link_to "Expenditures", report_expenditures_path, class: "tab-underlined active" %>
      </li>
      <li>
        <%= link_to "Advice", report_expenditures_path, class: "tab-underlined" %>
      </li>
      <li>
        <%= link_to "Comments", report_expenditures_path, class: "tab-underlined" %>
      </li>
    </ul>
  </div>
</div> -->
