<%= render 'shared/side-nav' %>

<div class="main-tabs ml200">
  <div class="row"> 

    <div class="col-lg">
      <div class="tab-title">
        <h4> <strong class="highlight">Expenditures</strong></h1>
      </div>
    </div>

    <div class="col-lg">
       <div class="tabs">
         <div class="tab active">
           <a href="<%= report_expenditures_path %>">Highlights</a>
         </div>
         <div class="tab ">
           <a href="<%= report_expenditures_advice_path %>">Advice</a>
         </div>
         <div class="tab">
           <a href="<%= report_expenditures_comments_path %>">Notes</a>
         </div>
         <div class="tab ">
           <a href="<%= report_expenditures_transactions_path %>">All transactions</a>
         </div>
       </div>
    </div>
  </div>
</div>

<div class="container ml200">

  <div class="d-flex justify-content-between p-3">

    <div class="d-flex flex-column" style="min-width: 45%">
      <div class="card-dash">
        <h3 style= color:#1E0087>Monthly Expenditures</h3>
        <br>
        <%= column_chart Line.annual_expenditures %>
      </div>

      <div class="card-dash">
        <h3 style= color:#1E0087>Expenditures per category</h3>
        <br>
        <%= pie_chart Line.top_expenditures_subcategory, prefix: "€", thousands: ",", download: true, donut: true, legend: "right" %>
      </div>
    </div>

    <div class="d-flex flex-column" style="max-width: 53%">
      <div class="d-flex justify-content-between">
        <div class="card-dash p-4 text-center" style="min-width: 45%; color: #999">
          <h4>Total <strong class="highlight">Expenditures</strong></h4>
          <h2 style="font-size: 1.5rem"> <strong class="highlight text-center"> 1,585,073 € </strong></h2>
          <p class="m-0">+6%</p>
        </div>

        <div class="card-dash p-4 text-center" style="min-width: 45%; color: #999">
          <h4>Total <strong class="highlight">Sales</strong></h4>
          <h2 style="font-size: 1.5rem"> <strong class="highlight text-center"> 1,494,955 € </strong></h2>
          <p class="m-0">-6%</p>
        </div>
      </div>


      <div class="card-dash">
        <table class="table">
          <h3 style= color:#1E0087>Top expenditure items this year</h3>
           <thead>
             <tr>
              <th scope="col">Expenditure</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
             </tr>
           </thead>
           <tbody>
            <% @top5_expenditures.each do |line| %>
              <tr>
                <th scope="row"><%= line.ecriture_lib %></th>
                <td><%= line.ecriture_date%></td>
                <td><%= line.debit%>€</td>
              </tr>
            <% end %>
           </tbody>
        </table>
        <p class = "row justify-content-center"><%= link_to "Show more", report_expenditures_transactions_path(@report), class: "tab-underlined" %></p>
      </div>
    </div>
  </div>

</div>
