<%= render 'shared/side-nav' %>
<%= render 'shared/tabs', section: :expenditures %>

<div class="container-decidesk">

  <h3 class="text-center" style= "margin-top: 100px; margin-bottom: 30px">All expenditures transactions 👎</h3>

  <div class="container">
    <div class="container-equal-margin mb-4 p-0">
      <%= form_tag report_expenditures_path, method: :get do %>
      <div class="d-flex align-items-center m-3">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-1",
      placeholder: "Search a date, an amount, a transaction..."
      %>
      <%= submit_tag "Search", class: "btn btn-flat m-0" %>
      <% end %>
    </div>
  </div>

   <div class="col-12">
    <div class="card-dash-bis">
        <div class="top-table">

          <div class="top-table-row table-row">
            <div class="table-number">No.</div>
            <div class="table-exp">Expenditure</div>
            <div class="table-date">Date</div>
            <div class="table-amount">Amount</div>
          </div>

          <% @lines.each_with_index do |line, index| %>
            <div class="content-table-row table-row">
              <div class="table-number"><span><%= index + 1 %></span></div>
              <div class="table-exp"><%= line.ecriture_lib.capitalize %></div>
              <div class="table-date"><%= line.ecriture_date%></div>
              <% if line.debit == 0 %>
                <div class="table-amount" style="color: red">- € <%= number_with_delimiter(line.credit.round(0), :delimiter => ',') %></div>
              <% else %>
                <div class="table-amount">€ <%= number_with_delimiter(line.debit.round(0), :delimiter => ',') %></div>
              <% end %>
            </div>
          <% end %>

        </div>
    </div>

  </div>


</div>


