<%= render 'shared/side-nav' %>
<%= render 'shared/tabs', section: :treasury %>

  <div class="row d-flex justify-content-center mb-5 mt-5">
    <h4>Your cash is at <strong class="highlight">€ <%= number_with_delimiter(@balance_last_day.to_i, :delimiter => ',') %> € </strong>on <%= @treasury_last_day.ecriture_date.strftime("%d %B %Y") %> </h4>
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">
       <%= column_chart @treasuries.monthly_cash, prefix: "€", thousands: ",", download: true, title: "Monthly Cash" %>
    </div>

    <div class="col-lg-7 card-dash">
       <%= column_chart @treasuries.weekly_cash, prefix: "€", thousands: ",", download: true, title: "Weekly Cash" %>
    </div>

      <div class="divTable">
         <div class="d-flex justify-content-around"> How's your cash on the period ? </div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% @report.lines.monthly_cash.each do |key, value| %>
           <div class="divRow d-flex justify-content-around">
             <div class="divCell"> <%= key.strftime("%b %Y") %></div>
             <div class="divCell">€ <%= number_with_delimiter(value.to_i, :delimiter => ',') %> </div>
           </div>
         <% end %>
      </div>
    </div>
  </div>

        <div class="divTable">
         <div class="d-flex justify-content-around"> How's your cash on the period ? </div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% @report.lines.weekly_cash.each do |key, value| %>
           <div class="divRow d-flex justify-content-around">
             <div class="divCell"> <%= key.strftime("%d %B %Y") %></div>
             <div class="divCell">€ <%= number_with_delimiter(value.to_i, :delimiter => ',') %></div>
           </div>
         <% end %>
      </div>
    </div>
  </div>

    <div class="row d-flex justify-content-around">

       <div class="divTable">
         <div class="d-flex justify-content-around"> Top 5 - CashIn 👍</div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Item</strong></div>
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% @top5_debit.each do |line| %>
           <div class="DivRow d-flex justify-content-around">
             <div class="divCell"><%= line.compte_lib %></div>
             <div class="divCell"> <%= line.ecriture_date.strftime('%d %B %Y') %></div>
             <div class="divCell">€ <%= number_with_delimiter(line.debit.to_i, :delimiter => ',') %></div>
           </div>
         <% end %>
      </div>

      <div class="divTable">
        <div class="d-flex justify-content-around"> Top 5 - CashOut 👎 </div>
          <div class="DivRow d-flex justify-content-around">
            <div  class="divCell"><strong class="highlight">Item</strong></div>
            <div  class="divCell"><strong class="highlight">Date</strong></div>
            <div  class="divCell"><strong class="highlight">Amount</strong></div>
          </div>

          <% @top5_credit.each do |line| %>
          <div class="DivRow d-flex justify-content-around">
            <div class="divCell"><%= line.compte_lib %></div>
            <div class="divCell"><%= line.ecriture_date.strftime('%d %B %Y') %></div>
            <div class="divCell">€ - <%= number_with_delimiter(line.credit.to_i, :delimiter => ',') %></div>
          </div>
        <% end %>
      </div>

    </div>

</div>
