<div class="container">

  <div class="dash-nav">
    <p><%= link_to "Treasuy", "#" %></p>
    <p><%= link_to "Advise", "#" %></p>
    <p><%= link_to "Notes", "#" %></p>
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">Graph</div>
    <div class="col-lg-4 card-dash">
      <table class="table">
        <p><strong>How's your cash ont the period ?</strong></p>
         <thead>
           <tr>
            <th scope="col">Month</th>
            <th scope="col">Balance</th>
           </tr>
         </thead>
         <tbody>
           <tr>
             <th scope="row">1</th>
             <td>Mark</td>
           </tr>
           <tr>
             <th scope="row">2</th>
             <td>Jacob</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Larry</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Larry</td>
           </tr>
           <tr>
             <th scope="row">3</th>
             <td>Larry</td>
           </tr>
           
         </tbody>
      </table>
    </div>
  </div>

    <div class="row d-flex justify-content-around">
    <div class="col-lg-5 card-dash">Table 1</div>
    <div class="col-lg-5 card-dash">Table 2
    </div>
  </div>

</div>
    <%= @lines.treasury_debit %>


    <%= current_user.email %>

    <p>Total Debit</p>
    <%= @lines.treasury_debit.first(5) %>

    <p>Total Credit</p>
    <%= @lines.treasury_credit.sum %>

<% @lines.treasury.max(5).each do |line| %>
  <%= line.compte_num  %>
<% end %>


## comme la search -> get avec un formulaire + des if -> formulaire se submit quand c'est ok

<table class="table">
  <h3>Top 5 - Cashin 👍 </h3>
  <thead>
    <tr>
      <th scope="col">Top</th>
      <th scope="col">Account number</th>
      <th scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td> <%= @lines.treasury.max.compte_num  %> </td>
      <td> <%= @lines.treasury_debit.max %> €</td>
    </tr>
    <tr>
      <th scope="row">2</th>

    <tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>

<table class="table">
 <p>Top 5 - Cashout 👎 </p>
  <thead>
    <tr>
      <th scope="col">Item</th>
      <th scope="col">First</th>
      <th scope="col">Last</th>
      <th scope="col">Handle</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td>@mdo</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Larry</td>
      <td>the Bird</td>
      <td>@twitter</td>
    </tr>
  </tbody>
</table>