<div class="container">

  <div>
    <h4>Report name</h4>
    <p>Start</p>
    <p>Start</p>
  </div>

  <div class="dash-nav">
    <p><%= link_to "Treasury", report_treasury_path %></p>
    <p><%= link_to "Advise", report_treasury_advise_path %></p>
    <p><%= link_to "Notes", "./notes" %></p>
    <p><%= link_to "All Transactions", report_treasury_transactions_path %></p>
    <select class="form-select" aria-label="Default select example">
      <option selected>Choose View</option>
      <option value="1">Monthly</option>
      <option value="2">Weeekly</option>
    </select>
  </div>

  <div class="row d-flex justify-content-center mb-5 mt-5">
    <h4>Your cash is at <strong class="highlight"><%= @balance_last_day.to_i %> € </strong>on <%= @treasury_last_day.ecriture_date.strftime("%d %B %Y") %> </h4>
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">
       <%= column_chart @treasuries.monthly_cash, prefix: "€", thousands: ",", download: true, title: "Monthly Cash" %>
    </div>

    <div class="col-lg-7 card-dash">
       <%= column_chart @treasuries.weekly_cash, prefix: "€", thousands: ",", download: true, title: "Weekly Cash" %>
    </div>

      <div class="divTable">
         <div class="d-flex justify-content-around"> How's your cash on the period ? </div>
         <div class="DivRow d-flex justify-content-around"> 
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% Line.monthly_cash.each do |key, value| %>
           <div class="divRow d-flex justify-content-around">
             <div class="divCell"> <%= key.strftime("%b %Y") %></div>
             <div class="divCell"> <%= value %> € </div>
           </div> 
         <% end %>
      </div>
    </div>
  </div>

        <div class="divTable">
         <div class="d-flex justify-content-around"> How's your cash on the period ? </div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% Line.weekly_cash.each do |key, value| %>
           <div class="divRow d-flex justify-content-around">
             <div class="divCell"> <%= key.strftime("%d %B %Y") %></div>
             <div class="divCell"> <%= value %> € </div>
           </div> 
         <% end %>
      </div>
    </div>
  </div>

    <div class="row d-flex justify-content-around">

       <div class="divTable">
         <div class="d-flex justify-content-around"> Top 5 - CashIn 👍</div>
         <div class="DivRow d-flex justify-content-around">
           <div  class="divCell"><strong class="highlight">Account number</strong></div>
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% @top5_debit.each do |line| %>
           <div class="DivRow d-flex justify-content-around">
             <div class="divCell"><%= line.compte_num %></div>
             <div class="divCell"> <%= line.ecriture_date.strftime('%d %B %Y') %></div>
             <div class="divCell"> <%= line.debit %> €</div>
           </div> 
         <% end %>
      </div>

      <div class="divTable">
        <div class="d-flex justify-content-around"> Top 5 - CashOut 👎 </div>
          <div class="DivRow d-flex justify-content-around">
            <div  class="divCell"><strong class="highlight">Account number</strong></div>
            <div  class="divCell"><strong class="highlight">Date</strong></div>
            <div  class="divCell"><strong class="highlight">Amount</strong></div>
          </div>
        
          <% @top5_credit.each do |line| %>
          <div class="DivRow d-flex justify-content-around">
            <div class="divCell"><%= line.compte_num %></div>
            <div class="divCell"><%= line.ecriture_date.strftime('%d %B %Y') %></div>
            <div class="divCell">- <%= line.credit %> €</div>
          </div>
        <% end %>
      </div>

    </div>
    
</div>