<div class="container">

  <div class="dash-nav">
    <p><%= link_to "Treasury", "#" %></p>
    <p><%= link_to "Advise", "#" %></p>
    <p><%= link_to "Notes", "#" %></p>
  </div>

  <div class="row">
    <h4>Your cash is at <strong class="highlight"><%= @balance_last_day.to_i %> € </strong>on <%= @treasury_last_day.ecriture_date %> </h4>
  </div>

  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">
       <%= column_chart Line.monthly_cash, prefix: "€", thousands: ",", download: true, title: "Monthly Cash" %>
    </div>

      <div class="divTable">
         <div class="divRow"> How's your cash ont the period ? </div>
         <div class="headRow">
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% Line.monthly_cash.each do |key, value| %>
           <div class="divRow">
             <div class="divCell"> <%= key %></div>
             <div class="divCell"> <%= value %> € </div>
           </div>
         <% end %>
      </div>
    </div>
  </div>

    <div class="row d-flex justify-content-around">

       <div class="divTable">
         <div class="divRow"> Top 5 - CashIn 👍</div>
         <div class="headRow">
           <div  class="divCell"><strong class="highlight">Account number</strong></div>
           <div  class="divCell"><strong class="highlight">Date</strong></div>
           <div  class="divCell"><strong class="highlight">Amount</strong></div>
         </div>

         <% @top5_debit.each do |line| %>
           <div class="divRow">
             <div class="divCell"><%= line.compte_num %></div>
             <div class="divCell"> <%= line.ecriture_date %></div>
             <div class="divCell"> <%= line.debit %></div>
           </div>
         <% end %>
      </div>

      <div class="divTable">
        <div class="divRow"> Top 5 - CashOut 👎 </div>
          <div class="headRow">
            <div  class="divCell"><strong class="highlight">Account number</strong></div>
            <div  class="divCell"><strong class="highlight">Date</strong></div>
            <div  class="divCell"><strong class="highlight">Amount</strong></div>
          </div>

          <% @top5_credit.each do |line| %>
          <div class="divRow">
            <div class="divCell"><%= line.compte_num %></div>
            <div class="divCell"><%= line.ecriture_date %></div>
            <div class="divCell">- <%= line.credit %></div>
          </div>
        <% end %>
      </div>

    </div>

</div>
