<%= render 'shared/side-nav' %>

<div class="main-tabs ml200">
  <div class="row">

    <div class="col-lg">
      <div class="tab-title">
        <h4> <strong class="highlight">Treasury</strong></h1>
      </div>
    </div>

    <div class="col-lg">
       <div class="tabs">
         <div class="tab">
           <a href="<%= report_treasury_path %>">Highlights</a>
         </div>
         <div class="tab">
           <a href="<%= report_treasury_advice_path %>">Advice</a>
         </div>
         <div class="tab">
           <a href="<%= report_treasury_comments_path %>">Notes</a>
         </div>
         <div class="tab active">
           <a href="<%= report_treasury_transactions_path %>">All transactions</a>
         </div>
       </div>
    </div>
  </div>
</div>

<div class="container ml200">
  <h3 class="text-center mb-5 mt-5">All treasury transactions 👎</h3>

  <div class="container">
    <div class="container-equal-margin mb-4 p-0">
      <%= form_tag report_treasury_transactions_path, method: :get do %>
      <div class="d-flex align-items-center m-3">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-1",
      placeholder: "Search a date, an amount, a transaction..."
      %>
      <%= submit_tag "Search", class: "btn btn-flat m-0" %>
      <% end %>
    </div>

    <div class="divTableAll mt-3">
      <div class="divRow d-flex justify-content-around">
        <div class="divCell mb-3"><h5><strong class="highlight">Ecriture</strong></h5></div>
        <div class="divCell mb-3"><h5><strong class="highlight">Date</strong></h5></div>
        <div class="divCell mb-3"><h5><strong class="highlight">Amount</strong></h5></div>
      </div>

        <% @lines.each do |line| %>
          <div class="divRow d-flex justify-content-around">
          <div class="divCell"> <%= line.compte_lib %></div>
          <div class="divCell"> <%= line.ecriture_date %></div>

          <% if line.debit == 0 %>
            <div class="divCell">- <%= line.credit %> </div>
          <% else %>
            <div class="divCell"><%= line.debit %> </div>
          <% end %>
          </div>
        <% end %>

    </div>

  </div>

</div>
