<%= render 'shared/side-nav' %>
<div class="container ml200">
  <div class="dash-nav">
    <p><%= link_to "Sales", report_sales_path %></p>
    <p><%= link_to "Advice", report_sales_advise_path %></p>
    <p><%= link_to "Notes", report_sales_comments_path %></p>
    <p><%= link_to "All Sales", report_sales_transactions_path %></p>
    <select class="form-select" aria-label="Default select example">
      <option selected>Choose Your View</option>
      <option value="1">Monthly</option>
      <option value="2">Weekly</option>
    </select>
  </div>

  <div class="row d-flex justify-content-center mb-5 mt-5">
    <h4>🚀 Your total sales for the period are <strong class="highlight">€ <%= number_with_delimiter(@total_sales, :delimiter => ',') %> 🚀</strong></h4>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">
      <%= column_chart @annual_sales, prefix: "€", thousands: ",", download: true, title: "Monthly Sales" %>
    </div>

    <div class="col-lg-7 card-dash">
      <%= column_chart @sales_volume, download: true, title: "Monthly Sales Volume" %>
    </div>

      <div class="ml50 mb40">
        <div class="divRow"> Top 5 - Sales 💶</div>
          <table>
            <tr class="grey_line">
              <th><strong class="highlight">Sales</strong></th>
              <th><strong class="highlight">Date</strong></th>
              <th><strong class="highlight">Amount</strong></th>
            </tr>
          <% @top5sales_credit.each_with_index do |line, index| %>
            <tr class="<%= 'grey_line' if index.odd? %>">
              <td><%= line.ecriture_lib %></td>
              <td><%= line.ecriture_date %></td>
              <td>€ <%= line.credit %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
