<%= render 'shared/side-nav' %>
<div class="container">
  <div class="dash-nav">
    <p><%= link_to "Sales", "./sales" %></p>
    <p><%= link_to "Advise", "./advice" %></p>
    <p><%= link_to "Notes", "./notes" %></p>
    <p><%= link_to "All Sales", "./sales" %></p>
    <select class="form-select" aria-label="Default select example">
      <option selected>Choose Your View</option>
      <option value="1">Monthly</option>
      <option value="2">Weekly</option>
    </select>
  </div>

  <div class="row d-flex justify-content-center mb-5 mt-5">
    <h4>Your total sales for the period are <strong class="highlight">€ <%= number_with_delimiter(@total_sales, :delimiter => ',') %></strong></h4>
  </div>
  <div class="row d-flex justify-content-around">
    <div class="col-lg-7 card-dash">
      <%= column_chart @annual_sales, prefix: "€", thousands: ",", download: true, title: "Monthly Sales" %>
    </div>

    <div class="col-lg-7 card-dash">
      <%= column_chart @sales_volume, download: true, title: "Monthly Sales Volume" %>
    </div>

      <div class="divTable">
        <div class="divRow"> Top 5 - Sales 💶</div>
          <div class="headRow">
            <div class="divCell"><strong class="highlight">Sales</strong></div>
            <div class="divCell"><strong class="highlight">Date</strong></div>
            <div class="divCell"><strong class="highlight">Amount</strong></div>
          </div>

          <% @top5sales_credit.each do |line| %>
          <div class="divRow">
            <div class="divCell"><%= line.ecriture_lib %></div>
            <div class="divCell"><%= line.ecriture_date %></div>
            <div class="divCell"><%= line.credit %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
