<%= render 'shared/side-nav' %>

<div class="main-tabs ml200">
  <div class="row">

    <div class="col-lg">
      <div class="tab-title">
        <h4> <strong class="highlight">Sales</strong></h1>
      </div>
    </div>

    <div class="col-lg">
       <div class="tabs">
         <div class="tab active">
           <a href="<%= report_sales_path %>">Highlights</a>
         </div>
         <div class="tab">
           <a href="<%= report_sales_advice_path %>">Advice</a>
         </div>
         <div class="tab">
           <a href="<%= report_sales_comments_path %>">Notes</a>
         </div>
         <div class="tab ">
           <a href="<%= report_sales_transactions_path %>">All Sales</a>
         </div>
       </div>
    </div>
  </div>
</div>

<div class="container ml200">

  <div class="d-flex justify-content-between p-3">

    <div class="d-flex flex-column" style="min-width: 45%">
      <div class="card-dash">
        <%= column_chart @annual_sales, prefix: "€", thousands: ",", download: true, title: "Monthly Sales" %>
      </div>

      <div class="card-dash">
        <%= column_chart @sales_volume, download: true, title: "Monthly Sales Volume" %>
      </div>

    </div>

    <div class="d-flex flex-column" style="max-width: 53%">
      <div class="d-flex justify-content-between">

        <div class="card-dash p-4 text-center" style="min-width: 45%; color: #999">
          <h4>Total <strong class="highlight">Sales</strong></h4>
          <h2 style="font-size: 1.5rem"> <strong class="highlight text-center"> € <%= number_with_delimiter(@total_sales, :delimiter => ',') %></strong></h2>
        </div>

        <div class="card-dash p-4 text-center" style="min-width: 45%; color: #999">
          <h4>Volume of <strong class="highlight">Sales</strong></h4>
          <h2 style="font-size: 1.5rem"> <strong class="highlight text-center"> <%= @sales.count %> </strong></h2>
        </div>
      </div>

      <div class="card-dash">
        <div class="divRow"> Top 5 - Sales 💶</div>
          <table>
            <tr class="grey_line">
              <th><strong class="highlight">Sales</strong></th>
              <th><strong class="highlight">Date</strong></th>
              <th><strong class="highlight">Amount</strong></th>
            </tr>
          <% @top5sales_credit.each_with_index do |line, index| %>
            <tr class="<%= 'grey_line' if index.odd? %>">
              <td><%= line.ecriture_lib %></td>
              <td><%= line.ecriture_date %></td>
              <td>€ <%= line.credit %></td>
            </tr>
          <% end %>
        </table>
      </div>

    </div>

  </div>

</div>

