<%= render 'shared/side-nav' %>
<%= render 'shared/tabs', section: :sales %>

<div class="container ml200 mt60">
  <h3 class="text-center mb-5 mt-5">See all of your sales at a glance</h3>

  <div class="container">
    <div class="container-equal-margin mb-4 p-0">
      <%= form_tag report_sales_transactions_path, method: :get do %>
      <div class="d-flex align-items-center m-3">
      <%= text_field_tag :query,
      params[:query],
      class: "form-control mr-1",
      placeholder: "Search a date, an amount, a sale..."
      %>
      <%= submit_tag "Search", class: "btn btn-flat m-0" %>
      <% end %>
    </div>

  <table class="table table-hover">
    <thead "color: grey">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Sale</th>
        <th scope="col">Date</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
      <% @lines.each_with_index do |line, index| %>
        <tr>
          <th scope="row" span class="badge bg-secondary" style= "color: white"><%= index + 1 %></th>
          <td><%= line.ecriture_lib %></td>
          <td><%= line.ecriture_date.strftime("%d %B %Y")%></td>
          <td>€ <%= number_with_delimiter(line.credit.round(0), :delimiter => ',') %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  </div>

  </div>
</div>
