<%= render 'shared/navbar' %>

<div class="container">
  <div class="container-index">

  <h1 class="main-title"><strong class="highlight">Hello you !</strong></h1>
  <h3 class="sub-title">Welcome to Decidesk, let’s get this accounting party started !</h3>

  <div class="card-page">
    <div class="col-lg-12 cards-page">
      <h4 class="text-center"><strong class="highlight">New Analysis</strong></h4>
      <div class="text-center">
      <%= link_to "Import a FEC !", new_report_path, class: "btn btn-bleu" %></div>
    </div>
  </div>

  <div class="card-page">
    <div class="col-lg-12 cards-page">
      <h4 class="text-center"><strong class="highlight">Your previous analysis</strong> (<%= @current_user.reports.all.count %>)</h4>
        <% @current_user.reports.all.each do |report| %>
          <div class="divRow d-flex justify-content-around">
            <p class="divCell"><%= report.name %></p>
            <p class="divCell"><%= report.created_at.strftime("%b %Y") %></p>
            <p class="divCell"><%= link_to "See details", report_path(report.id), class: "btn btn-small" %></p>
          </div> 
        <% end %>
    </div>
  </div>
</div>
</div>